* {
  box-sizing: border-box;
}
body,#artInput{text-align: center;}
#artInput {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/221px-Vector_search_icon.svg.png');
  background-position: 10px 10px;;
  background-repeat: no-repeat;
  background-size: 25px;
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border-radius: 25px;
}
#artInput:focus {
  outline:none
}
#artTable {
  border-collapse: collapse;
  width: 85%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-bottom:40px;
}
#artTable th, #artTable td {
  text-align: left;
  padding: 12px;
  text-align: center;

}
#artTable tr {
  border-bottom: 1px solid #ddd;

}
table  th{
background: #c3c3c3;
}
#artTable tr.header, #artTable tr:hover {
  background-color: #f1f1f1;

}
a {
  color: #f56642;
}

h2, h1, p {
  font-family: 'Nunito Sans', sans-serif;
}
h1:hover {
  animation-name: artshadow;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
}

@keyframes artshadow {
  from {}
  to {text-shadow: 2px 2px 5px black;}
}
h1 {
  color: #f56642;
  transition: 0.3s;
}
